// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$main-bg: #0f0f0f;
$secondary-bg: #0f0f0f;
$main-form-theme: #DEEBF4;
$secondary-form-theme: #EBF4FB;

$form-input-bg: #E5E8ED;

$theme-color: #41a1f0;