// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$main-bg: #181F2E;
$secondary-bg: #202A3F;
$main-form-theme: #DEEBF4;
$secondary-form-theme: #EBF4FB;

$form-input-bg: #E5E8ED;

$theme-color: #F04141;